* {
    margin: 0;
    padding: 0;
}
 body {
     background-color: black;
 }

.fondo {
    margin: 0 auto;
    background: url(../img/background.png) no-repeat;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.faro {
    position: relative;
    left: 62%;
    background: url(../img/faro.png) no-repeat;
    width: 190px;
    height: 340px;
    z-index: 100;
}

.luzFaro {
    position: relative;
    top: -68%;
    background: url(../img/light.png) no-repeat;
    width: 415px;
    height: 91px;
    animation: movimientoLuz linear 4s alternate infinite;
    transform-origin: 412px 37px;
}

.pajaro1 {
    position: relative;
    top: -440px;
    left: 90%;
    background: url(../img/pajaro.gif);
    width: 30px;
    height: 27px;
    animation: pajaro1 linear 15s infinite;
    transform: scale(.7);
}

.pajaro2 {
    position: relative;
    top: -450px;
    left: -40%;
    background: url(../img/pajaro.gif);
    width: 30px;
    height: 27px;
    animation: pajaro2 linear 20s 6s  infinite;
}

.nube {
    position: relative;
    top: -360px;
    background: url(../img/nube.png);
    width: 99px;
    height: 56px;
    animation: movimientoNube linear 25s infinite;
}

.barco {
    position: relative;
    top: -400px;
    left: 0%;
    background: url(../img/barco.png);
    width: 181px;
    height: 170px;
    z-index: 50;
    animation: movimientoBarco linear 20s infinite;
}

@keyframes movimientoLuz {
    from {
        transform: rotate(0);    
    }
    to {
        transform: rotateY(190deg);
    }
}

@keyframes pajaro1 {
    from {
        left: 100%;
        top: -430px;
    }
    to {
        left: -50%;
        top: -460px;
    }
}

@keyframes pajaro2 {
    from {
        left: 150%;
        transform: scale(1);
        top: -450px;
    }
    to {
        left: -100%;
        transform: scale(1.3);
        top: -430px;
    }
}

@keyframes movimientoNube {
    from {
        left: -100px;
    }
    to {
        left: 100%;
    }
}

@keyframes movimientoBarco {
    from {
        left: -50%;
    }
    to {
        left: 120%;
    }
}

.fondo:hover {
    filter: grayscale(100%);
}